# Arithmetic operator

In [9]:
a=15
b=2
print("addition is",a+b)
print("sub is",a-b)
print("mult is",a*b)
print("div is",a/b)
print("mod div is",a%b)
print("power is",a**b)
print("floor div is",a//b)

addition is 17
sub is 13
mult is 30
div is 7.5
mod div is 1
power is 225
floor div is 7

# comparison operator

In [17]:
a=30
b=15
if(a<b):
 print("a less than b")
if(a>b):
 print("a greater than b")
if(a==b):
 print("a equals to b")
if(a!=b):
 print("a not equal to b")
if(a>=b):
 print("a greater than or equal to b")
if(a<=b):
 print("a less than or equal to b")

a greater than b
a not equal to b
a greater than or equal to b

# Assignment Operator(+=,-=,/=,%=,//=,*=,**=)

In [27]:
a=100
j=a
j+=50
print(j)
j=a
j-=1
print(j)
j=a
j/=4
print(j)
j=a
j//=4
print(j)
j=a
j%=4
print(j)
j=a
j*=4
print(j)
j=a
j**=4
print(j)

150
99
25.0
25
0
400
100000000

# logical operator(and,or,not)

In [29]:
print(True and True)
print(True and False)
print(False and False)
print(False and True)

True
False
False
False

In [30]:
print(True or True)
print(True or False)
print(False or False)
print(False or True)

True
True
False
True

In [33]:
print(not True)
print(not False)
print(not False)
print(not True)

False
True
True
False

# Membership operator(is,is not)

In [40]:
x="sai"
"sai" is x

True

In [39]:
x="sai"
"sai" is not x

False

In [41]:
x=45
45 is not x

False

# identity operator

In [70]:
a="identity"
print('d' in a)
print('t' in a)
print('g' in a)
print('z' not in a)
print('y' not in a)
print('identity' in a)

True
True
False
True
False
True

# Bitwise Operator(&,|,<<,>>)

In [74]:
bin(8)

'0b1000'

In [75]:
0b1000 & 0b1001

8

In [76]:
0b1000 | 0b1001

9

In [81]:
0b1000 << 2

32

In [82]:
0b1000 >>2

2

In [79]:
bin(4096)

'0b1000000000000'

In [80]:
bin()

'0b0'

In [83]:
0b111<<2

28

# Conditional Statements

In [88]:
a=int(input("enter value"))
if(a>0):
    print("positive")
else:
    print("negative")

enter value-654
negative

In [91]:
a=int(input("enter a number"))
if(a%2==0):
    print("even")
else:
    print("odd")

enter a number45
odd

In [116]:
n=int(input("enter a number"))
for i in range(2,n):
    count=0
    if n%i==0:
        print("not prime")
        break
else:
    print(" prime")

enter a number13
 prime

In [103]:
a=int(input("enter a number"))
if (a%400==0)or(a%4==0)and(a%100!=0):
    print("leap year")
else:
    print("not leap year")

enter a number2016
leap year

In [108]:
a=int(input("enter a number"))
m=int(input("enter a lower range"))
n=int(input("enter a upper range"))
if(a in range(m,n)):
    print("Is in given range ")
else:
    print("Is not in given range")

enter a number45
enter a lower range12
enter a upper range30
Is not in given range

In [118]:
a=int(input("enter a number"))
if(a%10==0):
    print("number divided by 10 ")
else:
    print("number not divisible by 10")

enter a number90
number divided by 10

In [121]:
a=int(input("enter a year"))
if (a%400==0)or(a%4==0)and(a%100!=0):
    days=366
    print(days*24*60*60*(10**9))
else:
    days=365
    print(days*24*60*60*(10**9))

enter a year2016
31622400000000000

In [7]:
n=int(input())
if n>0:
    print("positive")
elif n==0 :
    print("zero")    
else:
    print("negative")

-65
negative

In [6]:
# largest of three numbers
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a>b and a>c:
    print(a ,"is biggest of" ,a,b,c)
elif b>a and b>c:
     print(b, "is biggest of",a,b,c)
else:
    print(c ,"is biggest of",a,b,c)

enter a value34
enter b value290
enter c value987
987 is biggest of 34 290 987

In [12]:
a=int(input("enter a value"))
if a in range (75,100):
    print("a grade")
elif a in range(65,75):
    print("b grade")
else :
    print("c grade")

enter a value78
a grade

#  Iterators(for,while,break,continue)

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
i=1
while i<=10 :
    print(i,end="")
    i+=1

12345678910

In [8]:
# break
for i in range(1,11):
    if(i==10):
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
n=int(input())
i=1
sum=0
while i<=n :
    sum+=i
    i+=1
print(sum,end=" ")

10
55

In [6]:
n=int(input("enter a value upto"))
s=int(input("enter table to be printed "))
i=1
while i<=n :
    print(s,"*",i,"=",i*s)
    i+=1

enter a value upto10
enter table to be printed 19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [57]:
for i in range(1,10):
     for s in range(1,10):
             print(i,"*",s,"=",s*i)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [20]:
sum=0
for i in range(1,15):
    sum+=i
print(sum,end=" ")

105

In [26]:
sum=0
for i in range(1,51):
    if i%2==0:
         sum+=i
print(sum,end=" ")

650

In [30]:
for i in range(1,15):
    if i%2==0:
         print(i,"is even")
    else:
        print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even

In [60]:
n=int(input())
i,j=0,0
for i in range(0,n):
    print()
    for j in range(1,i+1):
        print("*",end=" ")

4


*
* *
* * *

In [61]:
s="hello world"
for i in s:
    if i=='1':
        break
    print(i,end=" ")

h e l l o   w o r l d